/node_modules
/docs/.vuepress/dist/
.git/
/**/node_modules
/test/node-server/static/images-base-min
/test/node-server/static/images-base-to-webp
/docs/.vuepress/public-wait-webp
/docs/.vuepress/public-wait-min