html {
  font-size 16px
}

body .sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0.25rem;
}
body a.sidebar-link {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
body .sidebar-heading {
  padding-top: .25rem;
  padding-bottom: .25rem;
}